.button.login {
    -fx-background-color:  
        linear-gradient(#649ad6 0%, #528ed1 100%),
        linear-gradient(#7eabdd 0%, #5a94d3 100%),
        linear-gradient(#9ec0e5 0%, #5590d2 100%),
        linear-gradient(#1e5799 0%, #7db9e8 100%);
    -fx-background-radius: 5, 5, 4, 3;
    -fx-padding: 3px 10px 3px 10px;
     -fx-background-insets: 0,1,2,3;
    -fx-font-weight:bold;
    -fx-text-fill: #ffffff; 
}

.button.login:hover{
    -fx-background-color:  
        linear-gradient(#381f60 0%, #3c2253 100%),
        linear-gradient(#2a2176 0%, #3b2058 100%),
        linear-gradient(#1e3392 0%, #3c2156 100%),
        linear-gradient(#301f76 0%, #3c2556 100%);
    -fx-background-radius: 5, 5, 4, 3;
    -fx-padding: 3px 10px 3px 10px;
     -fx-background-insets: 0,1,2,3;
    -fx-font-weight:bold;
    -fx-text-fill: #ffffff; 
}

.button.login:focused {
        -fx-background-color:  
        linear-gradient(#381f60 0%, #3c2253 100%),
        linear-gradient(#2a2176 0%, #3b2058 100%),
        linear-gradient(#1e3392 0%, #3c2156 100%),
        linear-gradient(#3c2556 0%, #301f76 100%);
       -fx-background-insets: 0,1,2,3;
}
